/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$themeColor : #1f3f66;

buttonHover {
  cursor: pointer;
  background-color: #22a00b;
}


body{
  font-family: Calibri  ;
}

#site-banner{
  background: url("../images/skyline-buildings-new-york-skyscrapers.jpg");
  position: relative;
  background-repeat: no-repeat;
  color: $themeColor;
  line-height: 43px;
  width: 100vw;
  background-size: cover;
  overflow: hidden;


    // color-overlay
    #banner-overlay{
      padding-left: 17%;
      padding-top: 5%;
      height: 100%;
      background-color: rgba(213 , 232, 255 , .15);


    // banner contents
      #banner-content{
        background: url("../images/device_black.png");
        background-size: contain;
        background-position: 552px 5px;
        background-repeat: no-repeat;
        margin-bottom: 102px;

        // banner text
          #banner-text{
            font-size:51px;
          }

          #banner-subtext{
            font-size:46px;
            font-family: "Calibri Light";
          }

        // banner  button
        #content-button{
          margin-top: 20px;
          background-color: #57bc42;
          border-radius: 6px;
          height: 60px;
          width: 260px;
          border: 0px;
          color: #fff;
          font-size: 30px;
          font-weight: bold;
        }

         #content-button:hover{
           @extend buttonHover;
         }
      }
  }

}