/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$themeColor : #1f3f66;
$font-family : "calibri";

buttonHover {
  cursor: pointer;
  background-color: #22a00b;
}


body{
  font-family: Calibri  ;
}

// SITE BANNER
#site-banner{
  background: url("../images/skyline-buildings-new-york-skyscrapers.jpg");
  position: relative;
  background-repeat: no-repeat;
  color: $themeColor;
  width: 100vw;
  background-size: cover;
  overflow: hidden;


  // color-overlay
  #banner-overlay{
    padding-left: 16.9%;
    padding-top: 3.6%;
    height: 100%;
    background-color: rgba(213 , 232, 255 , .15);


    // banner contents
    #banner-content{
      background: url("../images/device_black.png");
      background-size: 39%;
      background-position: 499px 30px;
      background-repeat: no-repeat;
      margin-bottom: 102px;

      // banner text
      #banner-text{
        font-size: 47px;
        line-height: 64px;
        margin-bottom: 2px;
      }

      #banner-subtext{
        font-size:40px;
        line-height: 40px ;
        font-family: "Calibri Light";
      }

      // banner  button
      #content-button{
        margin-top: 30px;
        background-color: #57bc42;
        border-radius: 8px;
        height: 52px;
        width: 232px;
        border: 0px;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
      }

      #content-button:hover{
        @extend buttonHover;
      }
    }
  }
}


// ICON BAR

@mixin icon
{
  width:76px;
  height:76px;
  float: right;
}

//mainbanner
.icon
{
      background: rgba(1, 1, 1, 0.12);
      list-style: none;
      padding:30px 0px 30px 58px;
      padding-left: 75px;
 //
  li
  {
    display: inline-block;
    width: 32%;
    margin-right: -26px;

    .images
    {
      float: left;
      width: 22%;
      margin-left: 23px;
    }
    .text
    {
      float: right;
      width: 70%;
      margin-left: 5px;
      color: #1f3f66;
      font-family: Arial;
      font-size: 21px;
      line-height: 24px;
      letter-spacing: 1px;
    }
    img
    {
      @include icon;
    }
  }
}
