/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Start of navigation bar*/
/* line 10, ../../sass/screen.scss */
#nav {
  width: 100%;
  /*logo design*/
  /*input search*/
}
/* line 13, ../../sass/screen.scss */
#nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f3f66;
}
/* line 20, ../../sass/screen.scss */
#nav li {
  list-style-type: none;
  float: left;
}
/* line 24, ../../sass/screen.scss */
#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 35px;
  text-decoration: none;
  font-size: 200%;
  font-family: Calibri Light;
}
/* line 34, ../../sass/screen.scss */
#nav li a:hover {
  background-color: #1c3054;
}
/* line 39, ../../sass/screen.scss */
#nav .logo {
  padding: 30px 70px 20px 110px;
  width: 200px;
  height: 50px;
}
/* line 44, ../../sass/screen.scss */
#nav .search-icon {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 8px;
  padding-left: 10px;
}
/* line 52, ../../sass/screen.scss */
#nav .search-input {
  border: solid 3px white !important;
  width: 271px;
  float: left;
  margin: 30px 30px 0px 100px;
  height: 40px;
}
/* line 62, ../../sass/screen.scss */
#nav input[type=search] {
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  display: block;
  width: 86.5%;
  height: 42px;
  letter-spacing: 1px;
  word-spacing: 5px;
  background-color: rgba(31, 63, 102, 0.2);
  padding: 9px;
  font-size: 18px;
  border: none;
}

/*end of navigation bar*/
